/* Background */
body {
  background: url("./img/CFO2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
.main{
	background-position: center center;
}


/* Gid Layout */
.header{
  margin: 0.5%;
}

.middle{
  margin: 1%
}
.foot{
  margin-top: 3%;
}

a:hover{
  text-decoration: none !important;
  color: black !important; 
}

/*Landing */
.landing-links{
  min-height: 530px;
}
.land-btn > a{
  font-size: 28px;
}
.landing-links > ul {
  display: flex;
}

.landing-links >ul .lBtn{
  padding-right: 260px;
}
.landing-links > ul li{
  list-style: none; 
    margin-top: 60%
}

.land-btn{
  background-color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  width: 192px;
  
}

/* Burger Menu */
.burg-btn{
  background-color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  width: 110%;
}

.burg-nav{
  text-align: right;
  margin-right: 15px;
  margin-top: 10px;
}

.burg-links > ul li{
  float: right;
  list-style: none;
  margin-right: 15px;
  margin-bottom: 8px;
}

li > div > a{
  color:black;
  font-size: 18px;  
}

.svg-inline--fa{
  font-size: 60px;
}


/*Swiper */
.swipe {
  position: absolute;
}

.cardContainer{
  height: 530px;
}

#inner-container{
 
background-color: #FFFFFF;
height: 100%;
width: 100%;
padding: 50px;
box-sizing: border-box;
border-radius: 20px;
box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);

}

#row1{
  height: 200px;
  width: 250px;
  
  background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 1%;
  
  float: left;

  margin-right: 57px;
  }
      
  #row2{
    height: 200px;
    width: 300px;
    
    overflow: hidden;
    
    background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  }
  
  #row2 div {
    padding: 10%;
  }
  
  #row3{
    height: 200px;
    width: 607px;
    margin-top: 30px;
    overflow: hidden;
    
    background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  }
  
  
  
  .static {
    position:absolute;
    height: 200px;
    width: 607px;
    border-radius: 20px;
    
  }
  

  .container{
    max-width: 100% !important;
  }

  #img1{
    height: 100%;
    width: 100%;
    }
    
    #img2{
      
      height: 200px;
      width: 600px;
  } 
  


  /* Footer */
  .social-container{
    text-align: center;
  
  }

  .social-container > a > svg{
    font-size: 48px;
  }

  .social-container > a{
    padding: 5px;
  }

  a.git{
  color: black;
}
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  