

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginbtn{
  width: 100%;
}


body {
  background: url("./img/CFO.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
.main{
	background-position: center center;
}

.title{
	text-align: center;
}

.menue li{
  display: inline;
  margin: 5px;
}


/* Gid */
.header{
  margin: 0.5%;
}

.middle{
  margin: 1%
}

.foot{
  margin-top: 37.5%;
 
}


/*Swiper */
.swipe {
  position: absolute;
}


#inner-container{
 
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
padding: 50px;
box-sizing: border-box;
border-radius: 20px;
box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);

}

#row1{
  height: 200px;
  width: 250px;
  
  background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 1%;
  
  float: left;

  margin-right: 57px;
  }
      
  #row2{
    height: 200px;
    width: 300px;
    
    overflow: hidden;
    
    background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  }
  
  #row2 div {
    padding: 10%;
  }
  
  #row3{
    height: 200px;
    width: 607px;
    margin-top: 30px;
    overflow: hidden;
    
    background-color: lightgray;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  }
  
  
  
  .static {
    position:absolute;
    height: 200px;
    width: 607px;
    border-radius: 20px;
    
  }
  
  
  
  
  
  /**checkpoint **/
  

 
#img1{
  height: 100%;
  width: 100%;
  }
  
  #img2{
    
    height: 200px;
    width: 600px;
    } 

